  <div class="well">
    <%= link_to 'New News Item', new_news_path, :class => 'btn primary' %>
  </div>

  <table>
    <tr>
      <th class="span6">Title</th>
      <th>Body</th>
      <th class="span3">Published date</th>
      <th></th>
      <th></th>
    </tr>

  <% @news_items.each do |news_item| %>
    <tr>
      <td><%= link_to news_item.title, news_path(news_item), :title => "View this news item" %></td>
      <td><%= strip_tags(truncate(news_item.body, :length => 300)) %></td>
      <td><%= news_item.published_date %></td>
      <td><%= link_to 'Edit', edit_news_path(news_item), :class => "btn small" %></td>
      <td><%= link_to 'Delete', news_path(news_item), :class => "btn small danger", confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
  </table>