%input{:id=>'client-names', :value => @client_names.join(','), :type => 'hidden'}
%input#obj{:type=>'hidden', :value => 'project'}
= form_for(@project,:html => {:class => 'no-padding', :multipart => true}) do |f|
  -if @project.errors.any?
    %div#error_explanation
      %h2="#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"

      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  %div.row
    %div.span8
      %div.clearfix
        = f.label :client_name
        %div.input
          = f.text_field :client_name, :class => "xlarge" 

      %div.clearfix
        = f.label :name, 'Project Name'
        %div.input
          = f.text_field :name, :class => "xlarge" 

      %div.clearfix
        = f.label :description
        %div.input
          = f.text_area :description, :rows => 10, :class => "xlarge" 

      %div.clearfix
        = f.label :project_type 
        %div.input
          = f.select(:project_type, f.object.project_types)

      %div.clearfix
        = f.label :area
        %div.input
          = f.text_field :area, :class => "xlarge" 

      %div.clearfix
        = f.label :city
        %div.input
          = f.text_field :city, :class => "xlarge" 

      %div.clearfix
        = f.label :province
        %div.input
          = f.text_field :province, :class => "xlarge" 

      %div.clearfix
        = f.label :costs
        %div.input
          = f.text_field :costs, :class => "xlarge" 

      %div.clearfix
        = f.label :completion_date
        %div.input
          = f.text_field :completion_date, :class => "xlarge" 

      %div.clearfix
        = f.label :is_renowned, 'Highlight Project'
        %div.input
          %ul.inputs-list
            %li
              %label
                = f.check_box :is_renowned
    %div.span8
      %h3.inline Attach Files  
      %input#redirect_url{:type => 'hidden', :name=> 'project[redirect_url]'}
      %a#new_upload.btn.success{:href=>'#'} New Upload
      %div.well.form-stacked
        %ul#files
    
          =f.fields_for :file_uploads do |file_upload|
            = render :partial => 'shared/file_upload', :locals => {:file_upload => file_upload, :f => f}    

  %div.actions
    = f.submit :class => 'btn primary'
    - if @project.id
      = link_to 'View Project', @project, :class => 'btn'
    = link_to 'Cancel', projects_path, :class => 'btn'