
%div.well
  = link_to 'New Project', new_project_path, :class => 'btn primary'
%table
  %tr
    %th Client
    %th Name
    %th Project type
    %th City
    %th Province
    %th Completion date
    %th Is Highlight
    %th
    %th

  - @projects.each do |project|
    %tr
      %td= project.client_name
      %td= link_to project.name, project
      %td= project.project_type 
      %td= project.city
      %td= project.province
      %td= project.completion_date
      %td= project.is_renowned 
      %td= link_to 'Edit', edit_project_path(project), :class => "btn small"
      %td= link_to 'Delete', project, :class => "btn small danger", confirm: 'Are you sure?', method: :delete 


