%p
  = @project.client_name 

%p
  = @project.name 

%p
  = @project.description 

%p
  = @project.project_type

%p
  = @project.area 

%p
  = @project.city 

%p
  = @project.province 

%p
  = @project.costs

%p
  = @project.completion_date

%p
  = @project.is_renowned

